%section
  %h3 Mutant Biting & Bad Behavior

  :markdown
    Mutants make great pets. They are intelligent, playful and social creatures. Rearing Mutants in captivity, however, can give rise to several behavioral problems in your creature.

    Mutants are almost like human babies. Human babies throw tantrums, scream, cry, or howl - this is their way of misbehaving. We all know how difficult it is to deal with the Terrible Twos... and it is a common saying that Mutants remain like a two year old for their entire lives.

    Mutants can be mean at times. They can also be moody and temperamental. You need to understand these behavioral phases and act accordingly. Behavioral problems will include biting, screaming, throwing tantrums, not listening to you, and so on.

    A good Mutant owner is one who can interpret his creature's behavioral instincts and natural habits and understanding this should be your top priority. This way you can avoid the recurrence of behavioral problems.
