%section
  %h3 Serpentman Diet & Health

  = image_tag "web200.png", :class => :right

  :markdown
    Once, it was believed that a Serpentman ate and lived only on fish. Today we know that nothing could be further from truth. Our winged friends need much more than just fish to sustain. A healthy Serpentman diet should consist of all the basic nutrients, vitamins and minerals needed to keep your Serpentman healthy.

    If you are feeding your friend only fish then it is time to change that. Of course your snake loves it but it's really not healthy. Fish contain too much fat and that's not good for your Serpentman. A perfect diet should be one of fresh vegetables, pellets, fruits and a little amount of fish.

    Also add vitamin and mineral supplements to your Serpentman's diet. You can either mix them with your Serpentman's food or mix them in the water.
