%section
  %p.clearfix
    %a#download-zip.button{:href => "https://github.com/PixieEngine/RedIce/zipball/alpha"}
      %span Download Alpha

%section
  %h3 Welcome 2 Mayhem!
  %p
    Red Ice is a fast paced 3v3 hockey game. Use your wits and hockey sticks to crush your opponents.
  = image_tag "web200_2.png", :class => :right
  %p
    Captain one of six twisted teams to victory.

    %ul
      %li Winnipeg Beach Winnies
      %li Urbandale Umbos
      %li Sunset Valley Nightengales
      %li Sunnyvale Serpentmen
      %li The Creatures from Mt. Pleasant
      %li Unknown from who knows where

%section
  %h3 More Info
  %p
    Target release date 12-31-12.
  %p
    Available on all platforms (Win, Mac, Linux)

  = partial "subscribe_form"

= partial "serpent"

%section
  %h3 Contact
  %p
    I'm eager to hear what you think.
    Please let me know if you have any ideas, suggestions, or problems playing the game.
    Email me directly at
    %a{:href => "mailto:daniel@pixieengine.com"} daniel@pixieengine.com

%section
  = image_tag "web620_2.png"

- content_for :scripts do
  :coffeescript
    $("form.subscribe").on "submit", ->
      $form = $(this)

      email = $form.find("[type=email]").val().trim()
      emailValidator = /.+\@.+\..+/ # Allows all emails similar to xxx@yyy.zzz
      valid = email.match(emailValidator)

      if valid
        $form.fadeOut 1000, ->
        $form.replaceWith $("<p>",
          text: "Thanks, we'll keep you up to date with information about the game!"
          class: "success"
        ).fadeIn('slow')

        url = $form.attr("action") + "?callback=?"
        $.post url, $form.serialize()

      else
        $form.find('.error').text "Please enter a valid email address."

      return false
